@font-face {
  font-family: 'HK Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/HKGrotesk/hkgrotesk-regular-webfont.ttf') format('truetype'),
    url('/fonts/HKGrotesk/hkgrotesk-regular-webfont.woff') format('woff'),
    url('/fonts/HKGrotesk/hkgrotesk-regular-webfont.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'HK Grotesk';
  font-weight: 600;
  src: url('/fonts/HKGrotesk/hkgrotesk-semibold-webfont.ttf') format('truetype'),
    url('/fonts/HKGrotesk/hkgrotesk-semibold-webfont.woff') format('woff'),
    url('/fonts/HKGrotesk/hkgrotesk-semibold-webfont.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'HK Grotesk';
  font-style: bold;
  font-weight: 700;
  src: url('/fonts/HKGrotesk/hkgrotesk-bold-webfont.ttf') format('truetype'),
    url('/fonts/HKGrotesk/hkgrotesk-bold-webfont.woff') format('woff'),
    url('/fonts/HKGrotesk/hkgrotesk-bold-webfont.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Cabin';
  font-style: bold;
  font-weight: 700;
  src: url('/fonts/Cabin/cabin-bold.ttf') format('truetype'),
    url('/fonts/Cabin/cabin-bold.woff') format('woff'),
    url('/fonts/Cabin/cabin-bold.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: bold;
  font-weight: 900;
  src: url('/fonts/FontAwesome/fa-solid-900.ttf') format('truetype'),
    url('/fonts/FontAwesome/fa-solid-900.woff') format('woff'),
    url('/fonts/FontAwesome/fa-solid-900.woff2') format('woff2');
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: bold;
  font-weight: 400;
  src: url('/fonts/FontAwesome/fa-regular-400.ttf') format('truetype'),
    url('/fonts/FontAwesome/fa-regular-400.woff') format('woff'),
    url('/fonts/FontAwesome/fa-regular-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 100;
  src: url('/fonts/FontAwesome/fa-brands-400.ttf') format('truetype'),
    url('/fonts/FontAwesome/fa-brands-400.woff') format('woff'),
    url('/fonts/FontAwesome/fa-brands-400.woff2') format('woff2');
}
